.container{
    background-color: #222;
    height: calc(100vh - 100px);
    display: flex;
}
.item{
    flex: 1;
    position: relative; 
}
.item:last-child{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
   
}
.card{
    padding: 0 20px;
    flex: 1;
}
.title{
font-size: 18px;
color: #b7903c;
}
.text{
    color: lightgray;
}
.moto{
    color: rgb(169, 166, 166);
}