.container{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 20px;
}
.container:hover{
    background-color: #ebdad7;
}
.title{
    font-size: 20px;
    color: #222;
    font-weight: bold;
}
.price{
    font-size: 20px;
    font-weight: bold;
    color:#d1411e;
}
.desc{
    text-align: center;
    color: #444;
}
