.container{
    background-color: #d1411e;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.arrowContainer{
    width: 10%;
    height: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    cursor: pointer;
}
.arrowContainer:first-child{
    left: 0;
}
.arrowContainer:last-child{
    right: 0;
}
.wrapper{
    width: 400vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out;
}
.imgContainer{
    height: 100%;
    width: 100vw;
    position: relative;
}